.wallet{
    background-image: url("../../../images/active-icon/wallet.svg");
}
.market{
    background-image: url("../../../images/active-icon/market.svg");
}
.ruble{
    background-image: url("../../../images/active-icon/icon-ruble.svg");
}